.exercise-container{
    display: flex;

}
.gim-container{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 100px 20px;
}
@media screen and (max-width: 900px) {
    .gim-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 100px 10px;
    }
    .cart-container{
        width: 200px;
    }
}
@media screen and (max-width: 500px) {
    .exercise-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    
    }
    .gim-container{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
    .cart-container{
        width: 100% !important;
        margin-right: 0px;
    }
}
.cart-container{
    border: 1px solid black;
    border-radius: 12px;
    background-color: #de9a1c;
    width: 25%;
    padding: 10px;
}

.myself-detals{
    border: 1px solid gray;
    border-radius: 15px;
    background-color: gray;
    color: black;
}
.break-time{
    border: 1px solid gray;
    border-radius: 15px;
    background-color: gray;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}
.break-btn{
    background-color: aqua;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.break-btn:hover{
    background-color: crimson;
    color: white;
}
.exercise-time{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.break-time{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.picture{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}